@import "tailwindcss";

textarea:focus {
  outline: none;
  border-color: transparent;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.active {
  background-color: #4b5563; /*tailwinds bg-gray-500 */
  color: #ffffff; /* tailwinds text-white */
}
