@import "tailwindcss";

textarea:focus {
  outline: none;
  border-color: transparent;
}

textarea::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.active {
  background-color: #4b5563; /* Tailwind's bg-gray-500 color */
  color: #ffffff; /* Tailwind's text-white color */
}
